.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorMessage {
  margin-left: 12px;
  color: transparent;
  animation: error-text 250ms ease-in-out 1 forwards;
}

.required {
  animation: required-field 300ms ease-in-out 1 forwards;
}

@keyframes required-field {
  from {
    background-color: #121212;
  }
  to {
    background-color: rgba(220, 20, 60, 0.5);
  }
}

@keyframes error-text {
  from {
    color: transparent;
  }
  to {
    color: rgba(220, 20, 60, 0.5);
  }
}
