.outerCalendarContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.horizontalRow {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.flexRow {
  display: flex;
  margin-right: 16px;
}

.heading {
  font-family: "Noto Sans Display";
  color: white;
  margin-right: 4px;
  margin-left: 4px;
}

.dateTzInput {
  background-color: #121212;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  font-family: "Noto Sans Display";
  margin-right: 4px;
}

.dateTzInput:focus {
  outline-offset: 3px;
  outline: 3px solid yellow;
}

.weekViewContainer {
  color: white;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  font-family: "Noto Sans Display";
}

.column {
  flex: 1;
  min-width: 100px;
}

.columnHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.columnHeader h3 {
  margin: 0;
  padding: 0;
}

.columnHeader p {
  margin: 0;
  padding: 0;
}

.timeBlock {
  height: 60px;
  border-bottom: 0.25px solid #404040;
  border-right: 2px solid white;
  box-sizing: border-box;
}

.timeslot {
  height: 15px;
  box-sizing: border-box;
  border-right: 0.25px solid #404040;
}

.timeslot:nth-of-type(4n + 1) {
  border-bottom: 0.25px solid #404040;
}

.hasEvent {
  background-color: #008080;
}

.selected {
  background-color: yellow !important;
}

.shadowModalContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px; /* position the shadow container 10px so that it matches the position of the modalcontainer */
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -999;
}

.shadowModal {
  /* are these dimensions still correct????? */
  height: 820px;
  width: 500px;
}

.modalContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px; /* position the shadow container 10px so that it doesn't cover up the contentbox title ("calendar") */
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18, 0.8);
}

@media screen and (max-width: 913px) {
  .outerCalendarContainer {
    overflow-x: scroll;
  }

  .flexRow {
    flex-direction: column;
    width: 150px;
  }
}
