.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeText {
  font-family: "Noto Sans Display";
  font-size: 100px;
  color: white;
}

.text {
  font-family: "Noto Sans Display";
  font-size: 18px;
  color: white;
}
