.newProductForm {
  width: 500px;
  max-height: 600px;
  padding: 20px;
  border: 3px solid yellow;
  background-color: #121212;
  color: white;
  font-family: "Noto Sans Display";
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  max-height: 560px;
  box-sizing: border-box;
}

.newProductForm label {
  display: block;
  margin-bottom: 4px;
}

.newProductForm input[type="file"] {
  visibility: hidden;
}

.formRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.labelInputGroup {
  flex: 0.25;
}

.inputUnitWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 4px;
}

.file {
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 4px;
  font-size: 14px;
  margin: 4px;
}

.file button {
  background-color: rgb(220, 20, 37);
  border: none;
  outline: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5px;
  margin-left: 5px;
  color: darkgray;
  position: relative;
}

.file button span {
  position: absolute;
  top: 12;
  left: 12;
}

.file button:hover {
  cursor: pointer;
  background-color: yellow;
  color: crimson;
}

.closeBtnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.closeBtn {
  border: none;
  background-color: transparent;
  width: fit-content;
}

.closeBtn:hover {
  cursor: pointer;
}

.textarea {
  background-color: #121212;
  color: white;
  border: none;
  border: 2px solid white;
  width: 100%;
  resize: none;
  min-height: 38px;
}

.textarea:focus {
  outline-offset: 3px;
  outline: 3px solid yellow;
}

.tagsOuterContainer {
  width: 100%;
}

.tagsInnerContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.tag {
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 4px;
  font-size: 14px;
  margin: 4px;
}

.tag button {
  background-color: rgb(220, 20, 37);
  border: none;
  outline: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5px;
  margin-left: 5px;
  color: darkgray;
  position: relative;
}

.tag button span {
  position: absolute;
  top: 12;
  left: 12;
}

.tag button:hover {
  cursor: pointer;
  background-color: yellow;
  color: crimson;
}

.saveBtn {
  border: none;
  background-color: #008080;
  color: #121212;
  font-family: "Noto Sans Display";
  font-size: 16px;
  /* padding: 10px;
  padding-left: 30px;
  padding-right: 30px; */
  margin-left: 10px;
  /* margin-bottom: 10px; */
  white-space: nowrap;
}

.saveBtn:hover {
  cursor: pointer;
  background-color: #00c2c2;
}

.saveBtn:active {
  box-shadow: inset 4px 4px 4px #008080;
}

.cancelBtn {
  border: none;
  background-color: #a54d54;
  color: #121212;
  font-family: "Noto Sans Display";
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cancelBtn:hover {
  cursor: pointer;
  background-color: #c6868b;
}

.errorMessageSmall {
  color: transparent;
  animation: error-text 250ms ease-in-out 1 forwards;
}

.errorMessage {
  margin-left: 12px;
  color: transparent;
  animation: error-text 250ms ease-in-out 1 forwards;
}

.required {
  animation: required-field 300ms ease-in-out 1 forwards;
}

@keyframes required-field {
  from {
    background-color: #121212;
  }
  to {
    background-color: rgba(220, 20, 60, 0.5);
  }
}

@keyframes error-text {
  from {
    color: transparent;
  }
  to {
    color: rgba(220, 20, 60, 0.5);
  }
}
