.listItem {
  background-color: #2e2e2e;
  padding: 10px;
  margin: 4px;
  margin-left: 0;
  max-width: 360px;
  width: 360px;
  height: 200px;
  max-height: 100px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-decoration: none !important;
}

.listItem:hover {
  cursor: pointer;
  background-color: #5c5c5c;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.description {
  color: white;
}
